@page "/fetchdata"
@using BlazorTest3.Shared
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <NavLink class="nav-link" href="Test/1">
        <span class="oi oi-plus" aria-hidden="true"></span> Test
    </NavLink>

    <button class="btn btn-primary" @onclick="IncrementCount">Create Test</button>
    <input @bind="InputValue" />
    <table class="table">
        <thead>
            <tr>
                <th>name</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Name</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ELTest[]? forecasts;
    string? InputValue { get; set; }
    private async void IncrementCount()
    {
        Console.WriteLine("createTest");

        forecasts = await Http.GetFromJsonAsync<ELTest[]>("WeatherForecast/createTest/" + InputValue);
        StateHasChanged();
        @*forecasts = null;*@
        @*forecasts = await Http.GetFromJsonAsync<ELTest[]>("createTest");*@
    }

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<ELTest[]>("WeatherForecast");
    }
}

